node_modules
.turbo
.env
.env.local
.env.*.local

# Next.js
apps/web/.next
apps/web/out

# Expo
apps/mobile/.expo
apps/mobile/dist

# Build outputs
dist
build

# OS
.DS_Store
*.pem

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
